extend layout

block main

  .row

    .span8
      article
        header
          h2
            i.icon-cloud
            | Your Cloud Accounts
        section
          if accounts.length > 0
            table.table
              thead
                tr
                  th type
                  th name
                  th email / id
                  th.actions actions
              tbody
                for account in accounts
                  tr
                    td
                      a(href="/accounts/#{account.provider}/#{account.uid}")= account.provider
                    td= account.display_name
                    td= account.email || account.uid
                    td.actions
                      a.btn(href="/accounts/#{account.provider}/#{account.uid}")
                        i.icon-pencil
                      |  
                      a.btn(href="/accounts/#{account.provider}/#{account.uid}/delete")
                        i.icon-trash

          else
            .alert.alert-info
              | You don't have any accounts configured yet.
              | Click on an account type to the right to get started!

    .span4
      article
        header
          h2
            i.icon-plus-sign
            | Setup an Account
        section
          ul.icons
            for provider in acct_types
              li
                i.icon-plus
                |  
                a(href="/auth/#{provider[0]}")= provider[1]
