extend layout

block main

  .row

    .span8
      article
        header
          h2
            i.icon-cloud
            | Your Cloud Accounts
        section
          if accounts.length > 0
            table.table
              thead
                tr
                  th type
                  th name
                  th email / id
                  th status
                  th last backup
                  th.actions actions
              tbody
                for account in accounts
                  tr
                    td
                      a(href="/accounts/#{account.provider}/#{account.uid}")= account.provider
                    td= account.display_name
                    td= account.email || account.uid
                    if account.status == 'error'
                      td(rel='popover-static', data-title='backup error', data-content=account.error, data-placement='left')= account.status
                    else
                      td= account.status
                    td= account.last_backup.getFullYear() > 1969 && timestamp(account.last_backup) || ''
                    td.actions
                      a.btn(href="/accounts/#{account.provider}/#{account.uid}", title='browse files')
                        i.icon-folder-open
                      |  
                      a.btn(href="/accounts/#{account.provider}/#{account.uid}/delete", title='remove this account')
                        i.icon-trash

          else
            .alert.alert-info
              | You don't have any accounts configured yet.
              | Click on an account type to the right to get started!

    .span4
      article
        header
          h2
            i.icon-plus-sign
            | Setup an Account
        section
          ul.icons
            for provider in acct_types
              li
                i.icon-plus
                |  
                a(href="/auth/#{provider[0]}")= provider[1]
