extend layout

block main

  article
    header
      .file-controls
        label Snapshot:
        select(onchange="location.href='/accounts/#{account.provider}/#{account.uid}/' + this.value")
          for snapshot in snapshots
            option(value=snapshot, selected=(snapshot==browser.snapshot && 'selected'))
              = snapshot
      h2
        i.icon-folder-open
        |  Browsing 
        = browser.path
    section
      include _breadcrumbs

      if files.length > 0
        table.table
          thead
            tr
              th
                a(href="?sort=name") name
                if sort == 'name'
                  |  
                  i.icon-caret-up
              th
                a(href="?sort=modified") modified
                if sort == 'modified'
                  |  
                  i.icon-caret-up
              th
                a(href="?sort=size") size
                if sort == 'size'
                  |  
                  i.icon-caret-up
          tbody
            for file in files
              tr
                td
                  a(href=encodeURI(file.url))
                    i(class=fileClass(file))
                    |  
                    = file.name
                td= timestamp(file.mtime)
                td
                  unless file.isDirectory()
                    = prettySize(file.size)
      else
        .alert.alert-info nothing here
