extend layout

block main
  .row
    .offset3.span6
      article.push-down
        header
          h2
            i.icon-remove
            | Remove Account
        section
          p
            | You are about to remove this account permanently. Once complete, it will not be backed up again.
          p
            | Please choose whether you would like to delete the associated backup
            | data as well.
          .center
            p
              a.btn.btn-success(href="/accounts/#{account.provider}/#{account.uid}")
                i.icon-arrow-left
                |  Never mind, get me out of here!
            p
              a.btn.btn-warning(href="/accounts/#{account.provider}/#{account.uid}", data-method='delete', data-confirm='Are you sure you want to remove this account?')
                i.icon-remove
                |  Remove this account, but leave my backup data alone.
            p
              a.btn.btn-danger(href="/accounts/#{account.provider}/#{account.uid}?remove_data=true", data-method='delete', data-confirm='Are you sure you want to remove this account and delete all backup data associated with it?')
                i.icon-trash
                |  Delete this account, and also <strong>delete all associated backup data</strong>.
